%div{:style => 'text-align: center; margin-top: 2em; font-size: 2em;'}
  = BUSINESS_NAME
%div{:style => 'text-align: center; font-style: italic; margin-top: 10px;'}
  \~ Invoice Payments ~
%div{:style => 'margin-top: 4em; color: #ccc; font-size: 12px; text-align: center;'}
  = link_to "Administration", admin_dashboard_path, :style => 'color: #ccc;'
  \&#10087;
  = link_to "Powered by Combine", "https://github.com/masnick/combine", :style => 'color: #ccc;'